<div class="row">
    <div class="twelve columns greetings">
        <h1 class="greet-h1">GREETINGS</h1>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <form class="" action="/greetings" method="post">
            <label>Your Name</label>
            <input class="ten columns nameInputField Name" type="text" name="Name" placeholder="Enter your name here!" required>

            <span class="counter one column">{{counter}}</span>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <label>Choose Language</label>
    </div>
</div>

<div class="row">
    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="english">
            <span>English</span>
        </label>
    </div>

    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="isixhosa">
            <span>IsiXhosa</span>
        </label>
    </div>

    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="afrikaans">
            <span>Afrikaans</span>
        </label>
    </div>
</div>

<br>
<div class="row">
    <div class="twelve columns">
        <button class="button-primary six columns greetBtn" name="button">Greet</button>
        
    </div>
</div>
</form>
<form class="" action="/reset" method="post">
    <button class="button-primary six columns clearBtn" name="button">Clear</button>
</form>

<div class="row">
    <div class="twelve columns">
        <div class="output">
            <span class="outputRes">{{greet}}</span>
        </div>
        {{#if messages.info}}
        <div class="entry">
            <p> {{messages.info}}</p>
        </div>
        {{/if}}
    </div>

</div>

</div>

{{!-- <div class="row">
    <div class="twelve columns">
        <footer>
            <p>Developed by Siphenkosi Salman &copy; 2018</p>
        </footer>
    </div>
</div> --}}