<div class="row">
    <div class="twelve columns greetings">
        <h1 class="greet-h1">GREETINGS</h1>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <label>Your Name</label>
        <input class="ten columns nameInputField" type="text" placeholder="Enter your name here!" onkeyup="rmvNumChar(this)" required>

        <span class="counter one column">0</span>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <label>Choose Language</label>
    </div>
</div>

<div class="row">
    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="english">
            <span>English</span>
        </label>
    </div>

    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="isixhosa">
            <span>IsiXhosa</span>
        </label>
    </div>

    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="afrikaans">
            <span>Afrikaans</span>
        </label>
    </div>
</div>

<br>
<div class="row">
    <div class="twelve columns">
        <button class="button-primary six columns greetBtn" type="button" name="button">Greet Me</button>

        <button class="button-primary six columns clearBtn" type="button" name="button">Clear</button>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="output">
            <span class="outputRes">enter name</span>
        </div>
        <!--                <span class="output">Your output will show here!!!</span>-->
    </div>

</div>



</div>

<div class="row">
    <div class="twelve columns">
        <footer>
            <p>Copyright by Siphenkosi Salman &copy; 2018</p>
        </footer>
    </div>
</div>