<div class="row">
    <div class="twelve columns greetings">
        <h1 class="greet-h1">GREETINGS <span class="counter">{{counter}}</span></h1>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        {{#if messages.info}}
        <div class="entry">
            <p class="flash"> {{messages.info}}</p>
        </div>
        {{/if}}
        <form class="" action="/greetings" method="post">
            <input class="ten columns nameInputField Name" type="text" name="Name" placeholder="Enter your name here!">
            <button class="button-primary two columns greetBtn" name="button">Greet</button>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <label>Choose Language</label>
    </div>
</div>

<div class="row">
    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="english">
            <span>English</span>
        </label>
    </div>

    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="isixhosa">
            <span>IsiXhosa</span>
        </label>
    </div>

    <div class="four columns">
        <label>
            <input type="radio" name="language" class="language" value="afrikaans">
            <span>Afrikaans</span>
        </label>
    </div>
</div>

<br>

</form>
<form class="" action="/reset" method="post">
    <button class="button-primary twelve columns clearBtn" name="button">RESET</button>
</form>

<div class="row">
    <div class="twelve columns">
        <div class="output">
            <span class="outputRes">{{greet}}</span>
        </div>

    </div>

</div>

</div>


<div class="row">
    <div class="twelve columns" id="main-footer">
        <footer>
            <p>Developed by Siphenkosi Salman &copy; 2018</p>
        </footer>
    </div>
</div>